Flask>=2.0.0
Flask-Cors==4.0.0
marshmallow>=3.13.0
PyPDF2>=3.0.1
requests>=2.31.0
langchain>=0.0.27
transformers==4.30.2
python-dotenv==0.21.1
waitress>=2.1.2
openai==0.28.1
openapi-schema-pydantic>=1.2.4
tiktoken>=0.0.1
faiss-cpu==1.7.4
tokenizers==0.13.2
gunicorn>=21.2.0